h1, h3, p, a button {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

/*navigation*/
.side-nav {
    position: fixed;
    top: 45%;
    right: 20px;
    z-index: 1;
}

.side-nav ul.nav-side-nav {
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.side-nav ul.nav-side-nav > li {
    display: block;
    line-height: 1.45em;
    margin: 0;
    padding: 8px 0;
}

.side-nav ul.nav-side-nav > li > a {
    display: block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
}

.active{
    background: #000;
}

/*pageone*/
.onepage {
    height: 750px;
}

.onepage-bg {
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#onepagebg {
    background-image: url(../images/img14.jpg);
}

.headh1content {
    margin-top: 150px;
    line-height: 75px;
}

.title-text {
    margin-left: 50px;
}

.headfontsize h1 {
    font-size: 50pt;
    color: #ffffff;
}

.headfontsize p {
    color: #ffffff;
}

/*pagetwo*/
.twopage {
    padding: 2px 0 0 2px;
    height: auto;
    /*background-image: url(images/img15.jpg);*/
    position: relative;
}

.twopage-text {
    width: 100%;
    text-align: center;
}

.twopage-text-h1 {
    margin-left: 100px;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 20px 0 0 0;
}

.twopage-text-h1 img {
    width: 120px;
    margin-top: -20px;
}

.twopage .row {
    margin-right: 0;
    margin-left: 0;
}

.twopage-courses {
    float: left;
    background: #ffffff;
    padding: 0 2px 2px 0;
    position: relative;
    overflow: hidden;
}

.twopage-courses > a {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;

}

.classicon h3 {
    margin-top: 120px;
    color: #d1e973;
}

.classicon h1 {
    color: #fff5e1;
}

.classicon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    opacity: 0;
}

.classicon:hover {
    background: #1eb450;
    opacity: 0.9;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.twopagebtn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.twopagebtn .btn-bg {
    font-size: 25px;
}

#twopage-easy {
    margin: 50px 0;
}

/*page three*/
.threepage {
    position: relative;
    width: 100%;
    height: 800px;
}

.threepage-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#threepagebg {
    background-image: url(../images/img16.jpg);
}

.threepagecontent {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.threepagetext {
    margin-top: 100px;
}

.threepagetext p {
    margin-top: 20px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.threepagebtncontent {
    margin-top: 300px;
    font-size: 25px;
}

/*page four*/
.fourpage {
    height: 800px;
    background-image: url(../images/img17.jpg);
    /*margin-top: 800px;*/
}

.coursexiangqing-text {
    color: #ffffff;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.coursexiangqing-text p {
    margin-top: 25px;
    font-size: 20px;
}

.fourpage .container .carousel {
    margin-top: 60px;
}

.fourpage .container .carousel .carousel-inner .item {
    margin: 0 auto;
}

.item img {
    width: 100%;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: -20%;
    margin-top: 60px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: -20%;
    margin-top: 60px;
}

/*pagefive*/
.fivepage-bg {
    height: 800px;
    width: 100%;
    position: absolute;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#fivepagebg {
    background-image: url(../images/img15.jpg);
}

.footertext {
    margin-top: 55px;
    width: 100%;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
}

.footerbtncenter {
    margin-top: 100px;
    text-align: center;
}

.queyeicon {
    width: 200px;
}

.queyeicon:hover {
    border: 2px solid #d9edf7;
}

.footertextbtn {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}

.footertextbtn-text {
    margin-top: 20px;
    color: #000000;

}

/*ÖÃ¶¥°´Å¥*/
.scrollup {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: 1px solid #ffffff;
    display: none;
    background: #FECE1A;
}

.scrollup > a {
    position: relative;
    top: 6px;
    color: #ffffff;
}